<section class="holder">
    <div class="grid">
        <a href="/admin/novedades">
            <div class="card shadow p-3 mb-5 bg-body rounded text-center h-100 lk">
                <div class="card-block center">
                    <h5 class="card-title">Administrador de Novedaes</h5>
                    <i class="fas fa-newspaper circle-icon"></i>
                </div>
            </div>
        </a>
    </div>
</section>